$fuzzy-inset: rem-calc(20);

[data-fuzzy]{
    
    background-repeat: no-repeat !important;
    
    &[data-fuzzy="fill"]{
        color: #fff;
    }
    
    &.columns, &.column{
        background-position: ($column-gutter / 2) 0;
    }
    
    > h2, > h3, > h4, > h5, > h6{
        line-height: 1em;
    }
    
    > p, > h2, > h3, > h4, > h5, > h6{
        
        &:nth-child(1){
            margin-top: $fuzzy-inset;
        }
        
        &:last-child{
            margin-bottom: $fuzzy-inset;
        }
        
        margin-left: $fuzzy-inset;
        margin-right: $fuzzy-inset;
    }
    
}

[data-fuzzy="fill"]{
    
    nav{
        background: none;
    }
    
}
