@charset "UTF-8";

@font-face {
  font-family: "marker";
  src:url("#{$fonts-path}/marker/fonts/marker.eot");
  src: url("#{$fonts-path}/marker/fonts/marker.svg#marker") format("svg"),
    url("#{$fonts-path}/marker/fonts/marker.eot?#iefix") format("embedded-opentype"),
    url("#{$fonts-path}/marker/fonts/marker.woff") format("woff"),
    url("#{$fonts-path}/marker/fonts/marker.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "marker" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "marker" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "a";
}
.icon-1-copy-7-copy:before {
  content: "b";
}
.icon-2-copy-2:before {
  content: "c";
}
.icon-2-copy-8-copy:before {
  content: "d";
}
.icon-3-copy-3:before {
  content: "e";
}
.icon-3-copy-copy:before {
  content: "f";
}
.icon-3-copy-copy-2:before {
  content: "g";
}
.icon-3-copy-3-copy:before {
  content: "h";
}
.icon-2-copy-9:before {
  content: "i";
}
.icon-2-copy-2-copy:before {
  content: "j";
}
.icon-1-copy-8:before {
  content: "k";
}
.icon-1-copy:before {
  content: "l";
}
.icon-1-copy-2:before {
  content: "m";
}
.icon-1-copy-8-copy:before {
  content: "n";
}
.icon-2-copy-3:before {
  content: "o";
}
.icon-2-copy-copy:before {
  content: "p";
}
.icon-3-copy-4:before {
  content: "q";
}
.icon-3-copy-copy-3:before {
  content: "r";
}
.icon-3-copy-copy-4:before {
  content: "s";
}
.icon-3-copy-4-copy:before {
  content: "t";
}
.icon-2-copy-copy-2:before {
  content: "u";
}
.icon-2-copy-3-copy:before {
  content: "v";
}
.icon-1-copy-9:before {
  content: "w";
}
.icon-1-copy-2-copy:before {
  content: "x";
}
.icon-1-copy-3:before {
  content: "y";
}
.icon-1-copy-copy:before {
  content: "z";
}
.icon-2-copy-4:before {
  content: "A";
}
.icon-2-copy-copy-3:before {
  content: "B";
}
.icon-3-copy-5:before {
  content: "C";
}
.icon-3-copy-copy-5:before {
  content: "D";
}
.icon-3-copy-copy-6:before {
  content: "E";
}
.icon-3-copy-5-copy:before {
  content: "F";
}
.icon-2-copy-copy-4:before {
  content: "G";
}
.icon-2-copy-4-copy:before {
  content: "H";
}
.icon-1-copy-copy-2:before {
  content: "I";
}
.icon-1-copy-3-copy:before {
  content: "J";
}
.icon-1-copy-4:before {
  content: "K";
}
.icon-1-copy-copy-3:before {
  content: "L";
}
.icon-2-copy-5:before {
  content: "M";
}
.icon-2-copy-copy-5:before {
  content: "N";
}
.icon-3-copy-6:before {
  content: "O";
}
.icon-3-copy-copy-7:before {
  content: "P";
}
.icon-3-copy-6-copy:before {
  content: "Q";
}
.icon-2-copy-copy-6:before {
  content: "R";
}
.icon-2-copy-5-copy:before {
  content: "S";
}
.icon-1-copy-copy-4:before {
  content: "T";
}
.icon-1-copy-4-copy:before {
  content: "U";
}
.icon-1-copy-5:before {
  content: "V";
}
.icon-1-copy-copy-5:before {
  content: "W";
}
.icon-2-copy-6:before {
  content: "X";
}
.icon-2-copy-copy-7:before {
  content: "Y";
}
.icon-3-copy-7:before {
  content: "Z";
}
.icon-3-copy-7-copy:before {
  content: "0";
}
.icon-3:before {
  content: "1";
}
.icon-2-copy-6-copy:before {
  content: "2";
}
.icon-1-copy-copy-6:before {
  content: "3";
}
.icon-1-copy-5-copy:before {
  content: "4";
}
.icon-1-copy-6:before {
  content: "5";
}
.icon-1-copy-copy-7:before {
  content: "6";
}
.icon-2-copy-7:before {
  content: "7";
}
.icon-3-copy:before {
  content: "8";
}
.icon-3-copy-8:before {
  content: "9";
}
.icon-3-copy-8-copy:before {
  content: "!";
}
.icon-2-copy-7-copy:before {
  content: "#";
}
.icon-2:before {
  content: "$";
}
.icon-1-copy-6-copy:before {
  content: "%";
}
.icon-1-copy-7:before {
  content: "&";
}
.icon-2-copy:before {
  content: "'";
}
.icon-2-copy-8:before {
  content: "(";
}
.icon-3-copy-2-copy:before {
  content: ")";
}
.icon-3-copy-9:before {
  content: "*";
}
